In [6]:
import pandas as pd
from pandas import read_csv
import numpy as np

# 加载数据集

In [24]:
#加载数据集
df=read_csv('data/t2.txt',header=None)

In [40]:
# df=df.head(10)
data = {
        '水果':['苹果','梨','草莓','香蕉','西瓜'],
        '价格':[2,6,1,8,3]
       }
df=pd.DataFrame(data)
df 数据集所在的文件夹

   水果  价格
0  苹果   2
1   梨   6
2  草莓   1
3  香蕉   8
4  西瓜   3

# 按比例随机采样切分数据集

#### 按比例随机采样

1. `df = df.sample(frac=1.0)`: 按100%的比例抽样即达到打乱数据的效果
2. `df = df.reset_index()`：打乱数据之后index也是乱的，如果你的index没有特征意义的话，直接重置就可以了，否则就在打乱之前把index加进新的一列，再生成无意义的index

In [41]:
df1=df.sample(frac=0.6)#按0.6比例随机采样
df1

   水果  价格
4  西瓜   3
1   梨   6
2  草莓   1

#### 去掉df中已经采样过的样本
isin表示df中index和df1重复的行，~表示取反，即不重复的，相当于按行索引取差集

In [42]:
df2=df[~df.index.isin(df1.index)]

#### 得到df2，即df中去掉采样过的样本后的df2

In [43]:
df2

   水果  价格
0  苹果   2
3  香蕉   8

#### 对比一下三个dataframe
如果需要重置行索引，使用`df = df.reset_index()`

In [48]:
df

   水果  价格
0  苹果   2
1   梨   6
2  草莓   1
3  香蕉   8
4  西瓜   3

In [49]:
df1

   水果  价格
4  西瓜   3
1   梨   6
2  草莓   1

In [50]:
df2

   水果  价格
0  苹果   2
3  香蕉   8

# conda environments:
#
base                  *  C:\Users\LERRY\Anaconda3
py35                     C:\Users\LERRY\Anaconda3\envs\py35